* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #7C4EE4;
    --bg-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    line-height: 3.2rem;
    font-weight: 600;
}

p {
    margin: 0;
    color: var(--text-color);
    font-weight: 450;
    font-size: 1.1rem;
    line-height: 1.55rem;
    letter-spacing: 0.07rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
a {
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}


/* Header Style Start */
.navbar {
    background-color: var(--bg-color) !important;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: var(--main-color);
}

.main-btn {
    background-color: var(--main-color);
    color: #fff;
    transition: all 0.3s ease;
}

.main-btn:hover {
    background-color: #fff;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
/* Header Style Ends */

/* Hero Section Styles Start*/
.hero-section {
    background-color: var(--main-color);
    padding: 100px 0;
    color: var(--bg-color);
}

.hero-btn {
    background-color: #fff;
    border: none;
    color: black;
    font-weight: 600;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

/* Hero Section Styles Ends*/

/* Banner Section Start */
.banner-row {
    position: relative;
}
.overlay-content {
    position: absolute;
     top: 360px;
    left: 390px;
    width: 70%;
    color: black;
    border-radius: 16px;
    background-color: var(--bg-color);
}

.banner-btn {
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid #7C4EE4;
    font-weight: 600;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

.banner-btn:hover {
    background-color: var(--main-color);
    color: #fff;
    border: none;
}

/* Banner Section Ends */

/* Post Section Styles Start */
.post-section {
    background-color: var(--bg-color);
    padding-top: 250px;
}

/* Cards styles */

.blog-card img {
  width: 100%;
  border-radius: 12px;
}


.blog-card h4 {
  margin: 10px 0;
  font-weight: 600;
}

.blog-card a {
  color: #7b4ce2;
  font-weight: 500;
}

/* Post Section styles Ends */


/* Footer Styles Start */

.footer-section {
    background-color: var(--main-color);
    color: var(--bg-color);
}

.footer-section h1{
    line-height: 3.2rem;
}

.footer-section p{
    color: rgb(206, 205, 205);
}

.footer-form .form-control {
  padding: 10px 10px;
  border: 3px solid white;
  border-radius: 5px 5px;
  color: transparent;
}

.footer-form .btn-custom {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
background-color: transparent;
  color: #fff;
  width: 250px;
   border: 1px solid white;
}

.footer-form .btn-custom:hover {
  background-color: var(--bg-color);
  color: var(--main-color);
}


.footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
  margin-bottom: 20px;
}

.footer-menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.footer-social .icon {
  width: 36px;
  height: 36px;
  background: #7b4ce2;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-decoration: none;
}

.footer{
    border-bottom: 1px solid #7b4ce2; 
  margin: 20px auto;
}


.zarrin-footer p {
  font-size: 13px;
  color: #777;
}

/* Footer Styles End */




/* media queries */
@media (max-width: 900px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .hero-section {
        padding: 50px 50px;
    }

    .overlay-content {
       display: none;
    }
}
