/* Universal Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}

:root {
    --main-color: #7C4EE4;
    --bg-color: #FFFFFF;
    --text-color: #000;
}

h1{
    /* font-family: Raleway; */
font-weight: 700;
font-size: 45.95px;
line-height: 61.75px;
letter-spacing: 0%;

}

h2{
    /* font-family: Raleway; */
font-weight: 700;
font-style: Bold;
font-size: 22.98px;
line-height: 32.31px;
letter-spacing: -0.72px;
}

p{
    /* font-family: Roboto; */
font-weight: 400;
font-size: 11.49px;
line-height: 150%;
letter-spacing: 0%;
color: #666666;

}

/* Header Style Start */
.navbar {
    background-color: var(--bg-color) !important;
}

.nav-link {
    color: #000;
}

.nav-link:hover {
    color: var(--main-color);
}

.nav-item i {
    font-size: 24px;
    color: #6d6c6c;
    cursor: pointer;
}

.nav-item i:hover {
    color: var(--main-color);
}

.main-btn {
    background-color: var(--main-color);
    color: #fff;
    transition: ease-in-out;
}

.main-btn:hover {
    background-color: #fff;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

/* Header Style Ends */

/* Hero Style Start */
.hero-section {
    background-color: var(--main-color);
    padding: 100px 0;
    color: var(--bg-color) ;
}

.hero-section p{
    color: var(--bg-color) !important; 
}

.hero-section {
    background-image: url('./images/bg.png'), url("./images/bg1.png");
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
}

.hero-btn {
    background-color: #fff;
    color: black;
    font-weight: 600;
    transition: 0.3s;
}

.hero-btn:hover {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}

.hero-section img {
    max-width: 100%;
    height: auto;
}

/* Header Style Ends */

/* Banner Style Start */
.banner-row {
    position: relative;
}

.overlay-content {
    position: absolute;
    bottom: -140px;
    left: 65%;
    transform: translateX(-50%);
    width: 920px;
    height: 360;
    padding: 30px;
    background-color: var(--bg-color);
    border-radius: 16px;
}

.overlay-content p{
       /* font-family: Roboto; */
width: 784px;
font-weight: 400 !important;
font-size: 16px !important;
line-height: 150% !important;
letter-spacing: 0% !important;
}

.banner-btn {
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    font-weight: 600;
    transition: 0.3s;
}

.banner-btn:hover {
    background-color: var(--main-color);
    color: #fff;
    border: none;
}

/* Banner Style Ends */

/* Post Style Start */
.post-section {
    background-color: var(--bg-color);
}

.post-section .post-img {
    margin-top: 60px;
    height: 350px;
    width: auto;
}

.post-nav {
    margin-top: 250px;
}

/* Cards styles */

.blog-card img {
    width: 100%;
    border-radius: 12px;
}


.blog-card h4 {
    margin: 10px 0;
    font-weight: 600;
}

.blog-card a {
    color: #7b4ce2;
    font-weight: 700;
}

/* Post Style Ends */

/* Footer Styles Start */

.footer-section {
    background-color: var(--main-color);
    color: var(--bg-color);
    padding: 100px 0;
}

.footer-section h1{
    line-height: 3.2rem;
}

.footer-section p{
    color: rgb(206, 205, 205);
}

.footer-form .form-control {
  padding: 10px 10px;
  border: 3px solid white;
  border-radius: 5px 5px;
  color: transparent;
}

.footer-form .btn-custom {
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
background-color: transparent;
  color: #fff;
  width: 250px;
   border: 1px solid white;
}

.footer-form .btn-custom:hover {
  background-color: var(--bg-color);
  color: var(--main-color);
}


.footer-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 0;
  margin-bottom: 20px;
}

.footer-menu a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.footer-menu a:hover {
  color: var(--main-color);
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 25px;
}

.footer-social .icon {
  width: 36px;
  height: 36px;
  background: #7b4ce2;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  text-decoration: none;
}

.footer{
    border-bottom: 1px solid #7b4ce2; 
  margin: 20px auto;
}


.zarrin-footer p {
  font-size: 13px;
  color: #777;
}

/* Footer Styles End */




/* Media Queries */
@media (max-width: 980px) {
    h1 {
        font-size: 2.3rem;
    }

    h2 {
        font-size: 1.7rem;
        line-height: 2.4rem;
    }
    .hero-section {
        padding: 60px;
    }

    .hero-btn {
        margin-bottom: 40px;
    }

    /* .post-section .col-lg-6 { padding: 0 10px;} */
     .post-nav {
        margin-top: 10px;
    }
    
    .post-section {
        padding-top: 10px;
    }

    .post-text{
        margin-top: 30px;
    }

    .overlay-content {
        position: static;
        transform: none;
        width: 100%;
        margin-top: 20px;
    }
}
